<a href="https://colab.research.google.com/github/VladislavasR/PP5/blob/main/PP5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Start of the PP5

In [ ]:
from sklearn.metrics import mean_absolute_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score, KFold
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import mean_squared_error
from xgboost import XGBRegressor
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

In [ ]:
!wget https://raw.githubusercontent.com/VladislavasR/PP4/main/electricity_prices.csv

,DateTime,Holiday,HolidayFlag,DayOfWeek,WeekOfYear,Day,Month,Year,PeriodOfDay,ForecastWindProduction,SystemLoadEA,SMPEA,ORKTemperature,ORKWindspeed,CO2Intensity,ActualWindProduction,SystemLoadEP2,SMPEP2
0,01/11/2011 00:00,None,0.0,1.0,44.0,1.0,11.0,2011.0,0.0,315.31,3388.77,49.26,6.00,9.30,600.71,356.00,3159.60,54.32
1,01/11/2011 00:30,None,0.0,1.0,44.0,1.0,11.0,2011.0,1.0,321.80,3196.66,49.26,6.00,11.10,605.42,317.00,2973.01,54.23
2,01/11/2011 01:00,None,0.0,1.0,44.0,1.0,11.0,2011.0,2.0,328.57,3060.71,49.10,5.00,11.10,589.97,311.00,2834.00,54.23
3,01/11/2011 01:30,None,0.0,1.0,44.0,1.0,11.0,2011.0,3.0,335.60,2945.56,48.04,6.00,9.30,585.94,313.00,2725.99,53.47
4,01/11/2011 02:00,None,0.0,1.0,44.0,1.0,11.0,2011.0,4.0,342.90,2849.34,33.75,6.00,11.10,571.52,346.00,2655.64,39.87

In [ ]:
el_prices = pd.read_csv('electricity_prices.csv')
el_prices.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19710 entries, 0 to 19709
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   DateTime                19710 non-null  object
 1   Holiday                 19709 non-null  object
 2   HolidayFlag             19709 non-null  float64
 3   DayOfWeek               19709 non-null  float64
 4   WeekOfYear              19709 non-null  float64
 5   Day                     19709 non-null  float64
 6   Month                   19709 non-null  float64
 7   Year                    19709 non-null  float64
 8   PeriodOfDay             19709 non-null  float64
 9   ForecastWindProduction  19709 non-null  object
 10  SystemLoadEA            19709 non-null  float64
 11  SMPEA                   19709 non-null  float64
 12  ORKTemperature          19709 non-null  object
 13  ORKWindspeed            19709 non-null  object
 14  CO2Intensity            19709 non-null  object
 15  ActualWindProduction    19709 non-null  object
 16  SystemLoadEP2           19709 non-null  float64
 17  SMPEP2                  19709 non-null  float64
dtypes: float64(11), object(7)
memory usage: 2.7+ MB